<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="title page-title">
			<h4>{{ page.title }}</h4>
		</div>
    </div>
</div>
<div class="row page-content newsletter-content">
	<div class="col-md-6 offset-md-3">
		{{ page.content }}
	</div>
</div>
<div class="row newsletter-forms">
	<div class="col-md-6 offset-md-3">
		{% include 'newsletter' %}
	</div>
</div>